.account
  .account__box
    .userbox
      %h2 パスワードを再設定
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .accountfield
          = f.label :メールアドレスをご入力ください
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"xxx@test.com", size: "30x30"
        .actions
          = f.submit "送信する", class: "signbtn"
      = render "devise/shared/links"
