.account
  .account__box
    .userbox
      %h2 ログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .accountfield
          = f.label :メールアドレス
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"xxx@test.com", size: "30x30"
        .accountfield
          = f.label :パスワード
          %br/
          = f.password_field :password, autofocus: true, autocomplete: "current-password", placeholder:"パスワードを入力してください", size: "30×30"
        - if devise_mapping.rememberable?
          .accountfield
            = f.check_box :remember_me
            = f.label :次回から自動でログインさせる
        .actions
          = f.submit "ログイン", class: "signbtn"
      = render "devise/shared/links"